.meteo {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: monospace;
    font-size: 18px;
    padding: 2%;
    text-align: center;
}

p {
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.container span {
    font-size: 18px;
    font-weight: bold;
    color: rgb(35, 174, 255);
}
strong {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}
footer {
    text-align: center;
}
.accueil {
    background-color: rgb(20, 21, 26);
    height: 100vh;
}
.profile {
    padding: 3%;
}
p {
    text-align: justify;
}
.footer {
    padding: 3%;
}
